/* world.css */
.right_area {
    width: 830px;  box-sizing: border-box; padding-left: 20px;
    /* background-color: #abf; */
}
.data_row{
    width: 100%; background-color:#fff ;font-size: 0;
    border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.data_row h1{
    font-family: "Noto Sans KR",sans-serif; font-weight: 700;
    font-size: 24px; text-align: center; padding-top: 20px; margin-bottom: 20px;
}
.data_row > div {
    display: inline-block; width: 50%; font-size: 20px; text-align: center; vertical-align: top;
    font-family: "Noto Sans KR", sans-serif;font-weight: 700;margin-bottom: 20px;
}
/* div반으로 쪼갬 */
.data_row > div > p {margin-bottom: 15px;}

.data_row #natDefCnt{
    font-size: 32px;color: #f22;
}
.data_row #defIncrease{font-size: 16px; display: block; 
    color: #f22; border-radius: 20px;  background-color: rgb(248, 207, 207);
    text-align: center;width: 100px;
    margin: auto;margin-top: 20px; padding: 5px;
    
}
.chart_area #status_select,#month_select{
font-family: "Noto Sans KR",sans-serif;
font-weight: 700;font-size: 20px;width: 130px;
padding: 12px; border: 0; box-shadow: 0 0 10px rgba(0,0,0,0.2);
outline: none;
cursor: pointer;
border-radius: 20px;
}


#month_select{
    margin-left: 30px;
}
.data_row #natDeathCnt{
    font-size: 32px;
}
.data_row #deathIncrease{font-size: 16px; display: block;
    color: rgb(0, 0, 0); border-radius: 20px;  background-color: rgb(197, 196, 196);    
    text-align: center;width: 100px;
    margin: auto;margin-top: 20px; padding: 5px;
}
.container > .right_area{font-size: 0;}

.data_row #todayDef{
    font-size: 45px;
}


.nat_box{
    background-color: #fff; margin-right: 20px;
    width: calc((100% - 40px) / 3); display: inline-block; vertical-align: middle;
    height: 50px;
    margin-bottom: 9px;  font-size: 16px; text-align: center; 
    padding-bottom: 20px;  border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
.sido_name{
    text-align: left;
}
.nat_box:nth-child(3n){margin-right: 0;}
.nat_box p {font-family: "Noto Sans KR" , sans-serif; margin-top: 23px;}
.sido_name {font-size: 20px;  font-weight: 700; margin-bottom: 20px;}
.sidoFirst{margin-bottom: 15px;}
.sidoFirst > span{font-weight: 700; }
.sidoFirst > {font-weight: 700; }

.sidoSecond > span{font-weight: 700;} 
.sidoIncCnt {font-size: 15px; color: #f22;}
.sidoAccCnt , .nat_name_gubun{font-size: 20px; font-weight: 700;  margin-bottom: 5px;}
.nat_name_gubun , .sidoAccCnt_gubun{color: rgb(255, 154, 154); font-size: 23px; font-weight: 700;}


#date{
    font-size: 24px; font-family: "Noto Sans KR", sans-serif; 
    width: 130px; font-weight: 700; border: 0; outline: none;
    cursor : pointer; text-decoration: underline;
}
#date:hover { color: #f00;}

#world_chart{
    margin-bottom: 50px;
}