<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">
<mapper namespace = "com.greenart.mapper.WorldInfoMapper">
    <insert id="insertCoronaWorldInfo">
        INSERT INTO corona_world
        (areaNm, createDt, natDeathCnt, natDeathRate, natDefCnt, nationNm, nationNmEn)
        VALUES(#{areaNm}, #{createDt}, #{natDeathCnt}, #{natDeathRate}, #{natDefCnt}, #{nationNm}, #{nationNmEn});
    </insert>

    <select id="selectWorldCoronaSum" resultType="java.lang.Integer">
        select sum(natDefCnt) from corona_world cw where date_format(createDt , "%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d");
    </select>
</mapper>